numpy==1.16.4
pandas==0.24.2
scikit-learn==0.21.2
matplotlib==3.1.0
seaborn==0.9.0
keras==2.2.4
tensorflow==1.15.4
imbalanced-learn==0.4.3
mlxtend==0.16.0
xlrd==1.2.0
xlwt==1.3.0
boto3==1.9.226
Werkzeug==0.16.0
Flask==1.0.3
Flask-WTF==0.14.2
requests==2.22.0
pytest==5.0.1
pytest-cov==2.7.1
httmock==1.3.0
gunicorn==19.9.0
jupyter==1.0.0
researchpy
statsmodels
