numpy
pandas
sklearn
matplotlib
seaborn
keras
tensorflow
#tensorflow-gpu
imbalanced-learn
mlxtend
xlrd
xlwt
##conda install -c conda-forge xgboost
#shap

#### survey
flask
flask-wtf
requests

#### tests
pytest
pytest-cov
httpmock