#debugging
DEBUG=false

#if true: enable all treatments
#enabling specific treatments can spare resources (model won't be loaded)
TXX=true

# if enabled, 50% of the predictions are done with a fake model (100% accuracy)
FAKE_MODEL=true

ADMIN_SECRET=

