{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        /**
         * Shuffles array in place.
         * @param {Array} a items An array containing the items.
         * Thanks: https://stackoverflow.com/a/6274381
         */
        function shuffle(a) {
            var j, x, i;
            for (i = a.length - 1; i > 0; i--) {
                j = Math.floor(Math.random() * (i + 1));
                x = a[i];
                a[i] = a[j];
                a[j] = x;
            }
            return a;
        }
        ACTION_ACTIVE = false;
        //time_show, time_hid, time_wait, window.items, window.start_delays, delay_missed are initialized with values passed to a template on page generation!!!
        var t_show = {{time_show}};
        var t_hide = {{time_hide}};
        var t_wait = {{time_wait}};
        var t_round_no_delay = t_show + t_hide + t_wait;
        window.actual_round = 0;
        window.last_letter = "";
        window.start_wait_time = 0;
        window.rounds_clicked = new Set();
        window.items = {{items | safe}};   //loaded using templated parameters
        window.start_delays = {{start_delays | safe}};
        var nb_items = window.items.length;
        window.result = {"letters":new Array(nb_items), "delays":new Array(nb_items), "clicked":new Array(nb_items)};
        window.nb_rounds = nb_items;
        shuffle(window.items);

        function handle_click () {
            var btn = document.getElementById('action_button');
            btn.disabled = true;
            // Start the game ^_^
            if (!window.started) {
                window.started =  true;
                play_all_rounds();
                btn.style.fontSize = "32px";
                btn.textContent = "";
            } else {
                // handle user input 
                var actual_round = window.actual_round;
                if (!window.rounds_clicked.has(actual_round)) {
                    var click_time = new Date().getTime() - window.start_wait_time;
                    letter = window.items[actual_round];
                    window.result["letters"][actual_round] = letter;
                    window.result["delays"][actual_round] = click_time;
                    window.result["clicked"][actual_round] = true;
                    console.log("you did well", letter, click_time);
                }
                window.rounds_clicked.add(actual_round)

            }
        }

        function send_result() {
            var result = window.result;
            var request = new XMLHttpRequest();
            var url = "{{callback_url}}";
            request.open("POST", url, true);
            request.onload = function (e) {
                if (request.readyState === 4) {
                    document.getElementById("form").submit();
                    if (request.status === 200) {
                        console.log(request.responseText);
                    } else {
                        console.error(request.statusText);
                    }
                }
            };
            request.setRequestHeader("Content-Type", "application/json");
            request.send(JSON.stringify(result));
        }
        function play_all_rounds () {
            console.log("play_all_rounds");
            if (window.actual_round + 1 < window.nb_rounds) {
                play_one_round();
                setTimeout(play_all_rounds, t_round_no_delay+window.start_delays[window.actual_round]);
            }
        }

        function play_one_round () {
            display = document.getElementById('action_button');
            btn = document.getElementById('action_button');
            var show_go_nogo = function() {
                console.log("show");
                btn.disabled = true;
                var letter = window.items[window.actual_round];
                display.textContent = letter;
                setTimeout(hide, t_show);
            }
            var hide = function() {
                console.log("hide");
                display.textContent = ""
                display.style.backgroundColor = "#dddddd";
                setTimeout(wait_action, t_hide);
            }
            var wait_action = function() {
                console.log("wait");
                window.start_wait_time = new Date().getTime();
                btn.disabled = false;
                btn.style.backgroundColor = "#00ff00";
                display.textContent = "";
                setTimeout(deactivate, t_wait);
            }
            var deactivate = function() {
                console.log("deactivate");
                btn.style.backgroundColor = "#dddddd";
                btn.disabled = true;
                var actual_round = window.actual_round;
                // The user didn'T clicked ==> miss;
                if (!window.rounds_clicked.has(actual_round)) {
                    letter = window.items[actual_round];
                    window.result["letters"][actual_round] = letter;
                    window.result["delays"][actual_round] = {{delay_missed}};
                    window.result["clicked"][actual_round] = false;
                    console.log("You missed round: ", actual_round, letter);
                }
                if (actual_round + 1 >= window.nb_rounds) {
                    send_result();
                }
                window.actual_round += 1;
            }
            start_delay = window.start_delays[window.actual_round]
            setTimeout(show_go_nogo, start_delay);
        }
        
        window.onload = function () {
        };
    </script>
    <title>Play and Earn Money!</title>

{% endblock %}
{% block content %}    
<div align="center">
<h1 align="center">Letters Selection task!</h1>

<p class="instructions" align="center">
    In the following, you will see in the box containing the text <b>"START"</b> two possible letters: Either <b>M</b> or <b>W</b>.<br>
    If you see a M, click on the button as soon as possible once it becomes green but never when you see a W.<br>
    For each click following <b>M</b> you win {{letter_signal_bonus}} USD cents and for each click following <b>W</b> you lose {{0-letter_noise_bonus}} USD cents.<br>
    
    If your gain at the end of this task is negative it will be reset to 0 USD cents.

    <br> <br> <br>

    <b>Click on "START" to begin once you are ready.</b>
</p>

<form id="form" action="{{url_for('tasks.cc.index')}}" method="POST">

<br> <br>

<div style="text-align: center">
    <button type="button" name="action_button" style="width: 100px; height: 40px; font-weight: bold" id="action_button" onmousedown="handle_click()">START</a>    
</div>

{% endblock %}