{% extends "base.html" %}

{% block head %}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
    <title>Choices</title>
{% endblock %}
{% block content %}

<div align="center">
<h1 align="center">Choices</h1>
<br>

<p align="center">In this task we ask you to choose one of the two alternatives of each panel. Each alternative is a lottery defined as a combination of probabilies of winning and of the amounts (in USD cents) you can earn.
<p align="center">Earning: A 100-sided die is tossed. Note that: For each panel and each option the 100 side numbers an amount you can earn according to the associated probability. In panel 1 for example, for option A, all sides are labelled with 14 while for option B, 50 sides are labelled with 13 and the remaining 50 are labelled with 15. The die is tossed and your earning for the panel corresponds to the number shown by the die.  In the case of choosing the Option A on the Panel 1, this choice implies that you will get 14 USD cents on that panel for sure.</p>
<h3 align="center">Observe the following 10 panels and take your decision. Remember that you must choose one option for each panel. Your bonus for this task is your average gain on all panels.</h3>
<br>
<br>
<br>
<form action="{{url_for('tasks.cpc.index')}}" method="POST" id="cg">
  {% for problem in problems %}
  <span align="center">Panel {{loop.index}}</span>
  <table width="800px" border="1" align="center">
      <tr>
          <td>
              <ul style="margin: 0">
                    {% for choice in problem["optionsA"] %}
                        <li> {{ choice }}</li>
                    {% endfor %}
              </ul>
          </td>
          <td>
                <ul style="margin: 0">
                      {% for choice in problem["optionsB"] %}
                          <li> {{ choice }}</li>
                      {% endfor %}
                </ul>
          </td>
      </tr>
      <tr>
          <td>
                <label style="display: inline-block; width:100%; text-align: center"><input type="radio" name="q{{loop.index0+1}}" value="A" required>Option A</label>
            </td>
          <td>
                <label style="display: inline-block; width:100%; text-align: center"><input type="radio" name="q{{loop.index0+1}}" value="B" required>Option B</label>
            </td>
      </tr>
  </table>
  <br>
  {% endfor %}
  <br>
    <div align="center">
    <input class="button" type="submit" value="Submit" style="margin:50"></div>
</form>
</div>
{% endblock %}