{% extends "base.html" %}

{% block head %}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
    <title>Experience</title>
{% endblock %}
{% block content %}

<div align="center">
<h1 align="center">Please answer the following question.</h1>
<h3 align="center">How many ultimatum games have you played in your whole life prior to today?</h3>
<br>
<form method="POST" name="form" id="form">
    <div align="center">
        <input class="ultimatum_game_experience" id="ultimatum_game_experience" name="ultimatum_game_experience" required type="number" min="0">
    </div>
    <br>
    <br>
    <div align="center">
        <input class="submit" type="submit" value="Submit" style="margin:50">
    </div>
    
</form>
</div>
{% endblock %}
    
    
