{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='ras.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<title> A Few Things About You! </title>

{% endblock %}
{% block content %} 

<h1 align="center"> Assertiveness questionnaire </h1>
<h3 align="center">Please indicate how characteristic or descriptive each of the following statements is of you.</h3>

<div class="wrap" style="border:3px solid black" >

     <form action="{{url_for('tasks.ras.index')}}" method="POST" id="form" name="form">
        <br>
        {% for affirmation in affirmations %}
            {% set outer_loop = loop %}
                <label class="statement">{{affirmation}} </label>
                <ul class='likert'>
                    {% for value, label in scalas.items() %}               
                    <li>
                        <label><input type="radio" name="q{{outer_loop.index}}" value="{{value}}" required>{{label}}</label>
                    </li>
                    {% endfor %}
                </ul>
                <br>

                {% endfor %}
                <br>
                <div style="text-align:center">
                <input type="submit" value="Submit" style="margin:50"></div>
            </form>
    </div>
    {% endblock %}
