{% extends "base.html" %}

{% block head %}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
    <title>Choices</title>
    <style>
        {
            .row
        }
    </style>
{% endblock %}
{% block content %}

<div align="center">
<h1 align="center">Please make your choices between for each table</h1>
<br>
<h3 align="center">For each choice the probability to gain the associated bonus is proportional to the associatied probability. Your bonus for this task is the average of all your gains.</h3>
<br>
<br>
<form method="POST" id="cg">
  {% for key, panel_options in options.items() %}
  <table width="800px" border="1" align="center">
      <tr>
          <td>Probability</td>
          {% for probability, _ in panel_options %}
            <td>
               {{probability}}
            </td>
          {% endfor %}
      </tr>
      <tr>
          <td>USD cents.</td>
          {% for _, gain in panel_options %}
          <td>
              {{gain}}
          </td>
          {% endfor %}
      </tr>
      <tr>
          <td>Choice</td>
          {% for _ in panel_options %}
          <td>
                <input type="radio" name="{{key}}" value="{{loop.index0}}" required>
          </td>
          {% endfor %}
      </tr>
      <!-- <tr>
          <td>
                <label style="display: inline-block; width:100%; text-align: center"><input type="radio" name="q{{loop.index0+1}}" value="A" required>Option A</label>
            </td>
          <td>
                <label style="display: inline-block; width:100%; text-align: center"><input type="radio" name="q{{loop.index0+1}}" value="B" required>Option B</label>
            </td>
      </tr> -->
  </table>
  <br>
  {% endfor %}
  <br>
    <div align="center">
    <input class="button" type="submit" value="Submit" style="margin:50"></div>
</form>
</div>
{% endblock %}