{% extends "base.html" %}

{% block content %}
{% if job_id == "home" %}
    {% if webhook %}
    {% else %}
        <br>
        <div align="center">Thank you for taking part in our experiment.</div>
    {% endif %}
{% else %}
    <br>
    <div align="center">
        Thank you for taking part in our experiment.
    </div>
    <div align="center">Your bonus will be transfered to you soon.</div>
{% endif %}

<div align="center">
    Your survey completion code is: <strong>{{worker_code}}</strong>
</div>
<div align="center">
    <br>
    {{message}}
</div>
{% endblock %}