{% extends "base.html" %}

{% block head%}
<title>Responder - The Ultimatum Bargaining Experiment</title>
{% endblock %}

{% block header %}
    <h1 align="center">You have been randomly assigned the role of a RESPONDER</h1>
{% endblock %}
{% block content %}
   
    <!-- <form method="GET" action=""> -->
    <!-- </form> -->
    <br>
    <br>

    <form action="" method="post">
            <p align="center">Select the Minimum Offer that You are Willing to Accept From the Dropdown Menu Below</p>
            {{ form.hidden_tag() }}
            <div align="center">
                <select name="min_offer" id="min_offer" required id="min_offer">
                    <option value="" selected disabled hidden>Select a value</option>
                    {% for value, label in offer_values.items() %}
                        <option value={{value}}>{{label}}</option>
                    {% endfor %}
                </select>
            </div>

            <br> <br> <br> <br> <br> <br> <br>

            <hr>
            
            <div align="center"> 
                    {{form.submit()}}
            </div>
        </div>
    </form>
{% endblock %}
