{% extends "base.html" %}

{% block title %}The Ultimatum Bargaining Experiment{% endblock %}</title>
{% block content %}
<style>
  .button {
    background-color: #49afcd; /* Green */
    border: none;
    color: white;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
</style>
<script>
    window.onload=function() {
      window.error_counter = 0;
      document.getElementById("main_link").style.display='none';
      document.getElementById("features").style.display="none";
      document.getElementById("demographics").style.display="none";
      update_tasks();
      update_main_link();
      toggle_demographics();
      document.getElementById("{{form.code_resp_prop.id}}").onchange = update_tasks;
      var tasks = {{tasks | safe}};
      for (var idx=0; idx<tasks.length; idx++) {
        var element = document.getElementById("code_" + tasks[idx]);
        element.onchange = toggle_demographics;
      }
      
      document.getElementById("{{form.ethnicity.id}}").style.height = "130px";

      document.getElementById("{{form.proposer.id}}").onchange = countControlError;
      document.getElementById("{{form.proposer.id}}-info").style.display = "none";
      document.getElementById("{{form.proposer.id}}-info").textContent = "You seem to have misunderstood the instructions. The role of the PROPOSER is to make an offer to the RESPONDER regarding how to divide the {{ '%.2f'|format(max_gain / 100)}} USD. If you understand this now, please correct your answer to the statement regarding the PROPOSER below and continue."
      document.getElementById("{{form.responder.id}}").onchange = countControlError;
      document.getElementById("{{form.responder.id}}-info").style.display = "none";
      document.getElementById("{{form.responder.id}}-info").textContent = "You seem to have misunderstood the instructions. The role of the RESPONDER is to either accept or reject the offer made by the PROPOSER regarding how to divide the {{ '%.2f'|format(max_gain / 100)}} USD. If you understand this now, please correct your answer to the statement regarding the RESPONDER below and continue."
      document.getElementById("{{form.proposer_responder.id}}").onchange = countControlError;
      document.getElementById("{{form.proposer_responder.id}}-info").style.display = "none";
      document.getElementById("{{form.proposer_responder.id}}-info").textContent = "You seem to have misunderstood the instructions. The role of the PROPOSER is to make an offer to the RESPONDER regarding how to divide the {{ '%.2f'|format(max_gain / 100)}} USD. The role of the RESPONDER is to either accept or reject that offer. Both the PROPOSER and the  RESPONDER are real human contributors who are dynamically linked to participate in this task. If you understand this now, please correct your answer to the statement below and continue."
      document.getElementById("{{form.money_division.id}}").onchange = countControlError;
      document.getElementById("{{form.money_division.id}}-info").style.display = "none";
      document.getElementById("{{form.money_division.id}}-info").textContent = "You seem to have misunderstood the instructions. The PROPOSER decides how the money is divided and the RESPONDER accepts or reject the proposal. If you understand this now, please correct your answer to the statement regarding the money division below and continue."
      money_division
      if (getCookie("hide_instructions")) {
        toggle_overview();
      }
    }

    function countControlError() {
      var selector = 'input[name="' + this.id + '"]:checked';
      var choice = document.querySelector(selector).value;
      if ("correct".localeCompare(choice) != 0) {
        window.error_counter += 1;
        document.getElementById(this.id + "-info").style.display = "block";
      } else {
        document.getElementById(this.id + "-info").style.display = "none";
      }
      update_main_link();
      var my_form = document.getElementById("form");
      if (window.error_counter > {{maximum_control_mistakes}}) {
        // post the form with drop=1
        document.getElementById("drop").value = "1";
        my_form.submit();
      }
    }

    function update_main_link() {
      var control_ids = ["{{form.proposer.id}}", "{{form.responder.id}}", "{{form.proposer_responder.id}}", "{{form.money_division.id}}"];
      var valid_ids = 0;
      for (var idx=0; idx<control_ids.length; idx++) {
        var selector = 'input[name="' + control_ids[idx] + '"]:checked';
        var element = document.querySelector(selector);
        if (element) { 
          var choice = document.querySelector(selector).value;
          if ("correct".localeCompare(choice) == 0) {
            valid_ids += 1;
          };
        }
      }

      if (valid_ids == control_ids.length ) {
        document.getElementById("main_link").style.display='inline-block';
      } else {
        document.getElementById("main_link").style.display='none';
      }
    }
    
    function getDocHeight(doc) {
      doc = doc || document;
      // stackoverflow.com/questions/1145850/
      var body = doc.body, html = doc.documentElement;
      var height = Math.max( body.scrollHeight, body.offsetHeight, 
          html.clientHeight, html.scrollHeight, html.offsetHeight );
      return height;
    }

    function setIframeHeight(id) {
      var ifrm = document.getElementById(id);
      var doc = ifrm.contentDocument? ifrm.contentDocument: 
          ifrm.contentWindow.document;
      ifrm.style.visibility = 'hidden';
      ifrm.style.height = "10px"; // reset to minimal height ...
      // IE opt. for bing/msn needs a bit added or scrollbar appears
      ifrm.style.height = getDocHeight( doc ) + 4 + "px";
      ifrm.style.visibility = 'visible';
    }

    function update_tasks() {
      var code_resp_prop = document.getElementById("{{form.code_resp_prop.id}}").value;
      
      if (code_resp_prop.indexOf("resp") !== -1) {
        document.getElementById("features").style.display='block';
      } else {
        document.getElementById("features").style.display='none';
      }
      // demographics needs a refresh on main-code update.
      toggle_demographics();
    }

    function toggle_overview() {
      var hide_instructions = getCookie("hide_instructions");
      if (document.getElementById("overview").style.display=="none") {
        document.getElementById("overview").style.display="block";
        document.getElementById("toggle_instructions").value="Hide Instructions";
        setCookie("hide_instructions", false);
      } else {
        document.getElementById("overview").style.display="none";
        document.getElementById("toggle_instructions").value="Show Instructions";
        setCookie("hide_instructions", true);
      }
    }

    function toggle_demographics() {
      var tasks = {{tasks | safe}};
      var show_demographics = true;
      var code_resp_prop = document.getElementById("{{form.code_resp_prop.id}}").value;
      
      if (code_resp_prop.indexOf("resp:") !== -1) {
        for (var i=0; i<tasks.length; i++) {
          var task_id = "code_" + tasks[i];
          var task_expected_code = tasks[i] + ":";
          var element = document.getElementById(task_id)
          var task_code = element.value;
          show_demographics &= task_code.indexOf(task_expected_code) !== -1;
        }
      } else {
        show_demographics &= code_resp_prop.indexOf("prop:")!==-1;
      }
      if (show_demographics) {
        document.getElementById("demographics").style.display = "block";
      } else {
        document.getElementById("demographics").style.display = "none";
      }
    }

    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {   
        document.cookie = name+'=; Max-Age=-99999999;';  
    }
  </script>

  <br>
  <input id="toggle_instructions" type="button" onclick="toggle_overview()" value="Hide Instructions" width="100px">
  <iframe onload="setIframeHeight(this.id)" id="overview" src="{{overview_url}}"  width="100%" height="1200px" style="display: block;" frameborder="1"></iframe>
  <form method="POST" name="form" id="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="drop" name="drop" id="drop" value="0" /> 

    {% if job_id in ['', 'na', None] %}
    <fieldset disabled="disabled" style="background: #dddddd">
        <legend style="background-color: red; font-weight: bold;">
          This form is disabled!!! Follow the survey instructions on MTurk to correctly start the survey.
        </legend>
    {% else %}
    <fieldset>
    {% endif %}
      <div>
        <h3> CONTROL QUESTIONS </h3>
        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.proposer.errors)}}</div>
        <div style="background-color:lightskyblue;" id="{{form.proposer.id}}-info"></div>
        {{form.proposer.label}}<br>
        {{form.proposer}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.responder.errors)}}</div>
        <div style="background-color:lightskyblue;" id="{{form.responder.id}}-info"></div>
        {{form.responder.label}}<br>
        {{form.responder}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.proposer_responder.errors)}}</div>
        <div style="background-color:lightskyblue;" id="{{form.proposer_responder.id}}-info"></div>
        {{form.proposer_responder.label}}<br>
        {{form.proposer_responder}}<br>


        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.money_division.errors)}}</div>
        <div style="background-color:lightskyblue;" id="{{form.money_division.id}}-info"></div>
        {{form.money_division.label}}<br>
        {{form.money_division}}<br>
        <hr>
        <div>Follow the link to begin the task, complete it and then enter the completion code below. If you do not see the link it is because you have answered incorrectly to one or more of the CONTROL questions above. Please read the instructions once again to understand the task adequately. Thanks for your effort!<br>
        <a href="{{url_for(treatment+'.'+'index')}}?job_id={{job_id}}&worker_id={{worker_id}}&max_judgments={{max_judgments}}&auto_finalize=1" target="_blank"><button class="button" type="button" id="main_link">Click here to start the main task</button></a><br>
        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_resp_prop.errors)}}</div>
        {{form.code_resp_prop.label}}<br>
        {{(form.code_resp_prop) }}
        <!-- <input type="text" id="{{form.code_resp_prop.id}}" value="{{form.code_resp_prop.data}}" onchange="update_tasks()"><br> -->

        <div id="features">
            <h3>Please complete the following tasks in the exact order they are listed and gain additional bonus</h3><br>
            <div>Follow the link to begin the task, complete it and then enter the completion code below.</div><br>
            <a href="{{url_for('tasks.risk.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button class="button"  type="button">Click here to start the risk task...</button></a><br>
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_risk.errors)}}</div>
            {{form.code_risk.label}}<br>
            {{form.code_risk}}<br>
  

            <div>Follow the link to begin the task, complete it and then enter the completion code below.</div><br>
            <a href="{{url_for('tasks.exp.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button class="button"  type="button">Click here to start the experience task...</button></a><br>
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_exp.errors)}}</div>
            {{form.code_exp.label}}<br>
            {{form.code_exp}}<br>
  

            <div>Follow the link to begin the task, complete it and then enter the completion code below.</div><br>
            <a href="{{url_for('tasks.cc.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button class="button"  type="button">Click here to start the letters selection...</button></a><br>
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_cc.errors)}}</div>
            {{form.code_cc.label}}<br>
            {{form.code_cc}}<br>
  

            <div>Follow the link to begin the task, complete it and then enter the completion code below.</div><br>
            <a href="{{url_for('tasks.ras.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button class="button"  type="button">Click here to start assertiveness task...</button></a><br>
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_ras.errors)}}</div>
            {{form.code_ras.label}}<br>
            {{form.code_ras}}<br>
  
    
          <div>Follow the link to begin the task, complete it and then enter the completion code below.</div><br>
          <a href="{{url_for('tasks.cpc.index')}}?job_id={{job_id}}&worker_id={{worker_id}}&treatment={{treatment}}&auto_finalize=1" target="_blank"><button class="button"  type="button">Click here to start the choice task...</button></a><br>
          <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_cpc.errors)}}</div>
          {{form.code_cpc.label}}<br>
          {{form.code_cpc}}<br>
        </div>
        <hr>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.test.errors)}}</div>
        {{form.test.label}}<br>
        {{form.test}}
        <div name="demograpics" id="demographics">
          <hr>
          <h3> Demographics </h3>
          <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.gender.errors)}}</div>
            {{form.gender.label}}<br>
            {{form.gender}}<br>
  
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.age.errors)}}</div>
            {{form.age.label}}<br>
            {{form.age}}<br>
  
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.ethnicity.errors)}}</div>
            {{form.ethnicity.label}}<br>
            {{form.ethnicity}}<br><br><br><br>
  
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.education.errors)}}</div>
            {{form.education.label}}<br>
            {{form.education}}<br>
  
            <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.income.errors)}}</div>
            {{form.income.label}}<br>
            {{form.income}}<br>
          </div>
        </div>

        <hr>
        {{form.feedback.label}}<br>
        {{form.feedback(rows='3', cols='100')}}
      </div>
      <br>
      <div align="center">
          <input type="submit" class="button"  type="button" value="Submit" {% if job_id=='na' %} disabled='disabled' {% endif %}>
      </div>
    </fieldset>
  </form>
{% endblock %}