{% extends "base.html" %}

{% block content %}

    <br>

    {% if job_id == "home" %}
        {% if webhook %}
        {% else %}
            <br>
            <div align="center">Thank you for taking part in our experiment.</div>
        {% endif %}
    {% else %}

        {% if worker_code != "dropped" %}
            <div align="center">
                <br>
                Your survey completion code is: <br>
                <br>
                <strong>{{worker_code}}</strong>
            </div>
            <br>
            <div align="center">
                Thank you for taking part in our experiment.
            </div>
            <div align="center">Your bonus will be transferred to you soon.</div>
        {% else %}
            <div style="display:none;">worker_code: {{worker_code}}</div> <!-- useful for tests -->
        {% endif%}        
        
    {% endif %}


    <div align="center">
        <br>
        {{message}}
    </div>
{% endblock %}