<h1><span style="color: rgb(0, 0, 0);">Overview</span></h1>

<p><span style="color: rgb(0, 0, 0);">Welcome to our task! All participants will remain anonymous throughout the whole task. Please read the instructions carefully. To ensure your understanding the main task will begin only after you answer three questions about the task correcty. Your income ranges from a minimum of 0.50 USD to a maximum of 2.50 USD and depends on your actions and the actions by another participant, as explained in more detail below.</span></p>

<p><span style="color: rgb(0, 0, 0);">In the task you are expected to make <strong><u>one decision</u>.</strong> At the beginning, two participants are randomly matched together. You and the other participant make your decisions separately, without knowing what the other one is doing.</span></p>

<p><span style="color: rgb(0, 0, 0);">One of you is randomly assigned the role of a <strong>PROPOSER</strong> and the other is assigned the role of a <strong>RESPONDER</strong>. Initially, the <strong>PROPOSER</strong> receives 2.00 USD and needs to make an offer to the <strong>RESPONDER</strong> on how to split this money. The <strong>RESPONDER</strong> can either accept or reject this offer. If the <strong>RESPONDER</strong> accepts the offer, the 2.00 USD are split according to the offer. If the <strong>RESPONDER</strong> rejects, both the participants receive nothing (0.00 USD).</span></p>

<p><span style="color: rgb(0, 0, 0);"><br></span></p>
<hr>

<h1><span style="color: rgb(0, 0, 0);">Steps</span></h1>

<ol>
	<li><span style="color: rgb(0, 0, 0);">The <strong>PROPOSER</strong> receives 2.00 USD and the <strong>RESPONDER</strong> receives nothing (0.00 USD).</span></li>
	<li><span style="color: rgb(0, 0, 0);">The <strong>PROPOSER</strong> decides on how much of the 2.00 USD he/she wants to offer to the <strong>RESPONDER</strong>.</span></li>
	<li><span style="color: rgb(0, 0, 0);">At the same time, the <strong>RESPONDER</strong> decides the minimum share of the 2.00 USD he/she is willing to accept. thus, the <strong>RESPONDER</strong> defines the smallest split he/she is still willing to accept.</span></li>
	<li><span style="color: rgb(0, 0, 0);">If the <strong>PROPOSER's</strong> offer is equal to or greater than the minimum share the <strong>RESPONDER</strong> is willing to accept, the 2.00 USD will be split according to the <strong>PROPOSER's</strong> offer.</span></li>
	<li><span style="color: rgb(0, 0, 0);">If the <strong>PROPOSER's</strong> offer is smaller than the minimum share the <strong>RESPONDER</strong> is willing to accept, both players will receive nothing (0.00 USD).</span></li>
	<li><span style="color: rgb(0, 0, 0);">On submitting your decision, you will receive a code that you should enter in the corresponding text box.</span></li>
	<li><span style="color: rgb(0, 0, 0);">Next, you will be asked to fill a questionnaire. On successful participation, all participants will receive the base payment of 0.50 USD</span></li>
</ol>

<p>
	<br>
</p>
<hr>

<h1><span style="color: rgb(0, 0, 0);">Examples</span></h1>

<p><span style="color: rgb(0, 0, 0);"><strong>(1).</strong> Assume that the <strong>PROPOSER</strong> offered to give 1.20 USD to the <strong>RESPONDER</strong> and therefore keep 0.80 USD. Further, suppose the <strong>RESPONDER</strong> decided to accept a minimum share of 0.50 USD. Thus, the <strong>PROPOSER</strong> offered more than the minimum share demanded by the <strong>RESPONDER.</strong></span></p>

<p><span style="color: rgb(0, 0, 0);"><strong><u>Result:</u></strong> The <strong>RESPONDER</strong> accepts the <strong>PROPOSER'</strong>s offer. The <strong>PROPOSER</strong> gets 0.80 USD and the <strong>RESPONDER</strong> gets 1.20 USD. Both participants further receive the base payment of 0.50 USD.</span></p>

<p><span style="color: rgb(0, 0, 0);"><br></span></p>

<p><span style="color: rgb(0, 0, 0);"><strong>(2).</strong> Assume that the <strong>PROPOSER</strong> offered to give 0.80 USD to the <strong>RESPONDER</strong> and therefore keep 1.20 USD. Further, suppose the <strong>RESPONDER</strong> decided to accept a minimum share of 1.10 USD. Thus, the <strong>PROPOSER</strong> offered less that the minimum share demanded by the <strong>RESPONDER.</strong></span></p>

<p><span style="color: rgb(0, 0, 0);"><strong><u>Result:</u></strong> The <strong>RESPONDER</strong> rejects the <strong>PROPOSER's</strong> offer. The <strong>PROPOSER</strong> gets 0.00 USD and the <strong>RESPONDER</strong> gets 0.00 USD. Both participants further receive the base payment of 0.50 USD.</span></p>
