<h1>Overview</h1>

<p>Welcome to our task! All participants will remain anonymous throughout the whole task. Please read the instructions carefully. To ensure your understanding the main task will begin only after you answer three questions about the task correcty. Your income ranges from a minimum of 0.50 USD to a maximum of 2.50 USD and depends on your actions and the actions by another participant, as explained in more detail below.</p>

<p>In the task you are expected to make <strong><u>one decision</u>.</strong> At the beginning, two participants are randomly matched together. You and the other participant make your decisions separately, without knowing what the other one is doing.</p>

<p>One of you is randomly assigned the role of a <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> and the other is assigned the role of a <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong>. Initially, the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> receives 2.00 USD and needs to make an offer to the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> on how to split this money. The <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> can either accept or reject this offer. If the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> accepts the offer, the 2.00 USD are split according to the offer. If the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> rejects, both the participants receive nothing (0.00 USD).</p>

<p>
	<br>
</p>
<hr>

<h1><span style="color: rgb(184, 49, 47);">Steps</span></h1>

<ol>
	<li>The <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> receives 2.00 USD and the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> receives nothing (0.00 USD).</li>
	<li>The <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> decides on how much of the 2.00 USD he/she wants to offer to the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong>.</li>
	<li>At the same time, the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> decides the minimum share of the 2.00 USD he/she is willing to accept. thus, the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> defines the smallest split he/she is still willing to accept.</li>
	<li>If the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER's</strong></span> offer is equal to or greater than the minimum share the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> is willing to accept, the 2.00 USD will be split according to the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER's</strong></span> offer.</li>
	<li>If the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER's</strong></span> offer is smaller than the minimum share the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> is willing to accept, both players will receive nothing (0.00 USD).</li>
	<li>On submitting your decision, you will receive a code that you should enter in the corresponding text box.</li>
	<li>Next, you will be asked to fill a questionnaire. On successful participation, all participants will receive the base payment of 0.50 USD</li>
</ol>

<p>
	<br>
</p>
<hr>

<h1><span style="color: rgb(243, 121, 52);">Examples</span></h1>

<p><strong>(1).</strong> Assume that the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> offered to give 1.20 USD to the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> and therefore keep 0.80 USD. Further, suppose the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> decided to accept a minimum share of 0.50 USD. Thus, the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> offered more than the minimum share demanded by the <strong><span style="color: rgb(85, 57, 130);">RESPONDER.</span></strong></p>

<p><strong><u>Result:</u></strong> The <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> accepts the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER'</strong></span>s offer. The <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> gets 0.80 USD and the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> gets 1.20 USD. Both participants further receive the base payment of 0.50 USD.</p>

<p>
	<br>
</p>

<p><strong>(2).</strong> Assume that the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> offered to give 0.80 USD to the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> and therefore keep 1.20 USD. Further, suppose the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> decided to accept a minimum share of 1.10 USD. Thus, the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> offered less that the minimum share demanded by the <strong><span style="color: rgb(85, 57, 130);">RESPONDER.</span></strong></p>

<p><strong><u>Result:</u></strong> The <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong>&nbsp;rejects the <span style="color: rgb(65, 168, 95);"><strong>PROPOSER's</strong></span> offer. The <span style="color: rgb(65, 168, 95);"><strong>PROPOSER</strong></span> gets 0.00 USD and the <strong><span style="color: rgb(85, 57, 130);">RESPONDER</span></strong> gets 0.00 USD. Both participants further receive the base payment of 0.50 USD.</p>
