{% extends "base.html" %}

{% block content %}
    <h1>You have been assigned the task of a RESPONDER please give the minimum offer you would accept</h1>
    <h2>The Artificial Intelligence suggest you to make a minimal offer of </h2><strong>{{ai_min_offer}}</strong>
    <form action="" method="post">
        <label> Final minimum offer
        <select name="final_min_offer">
            {% for offer in offer_values %}
                <option value={{offer}}>{{offer}}</option>
            {% endfor %}
        </select>
        </label>
        <p> {{form.submit()}}</p>        
    </form>
{% endblock %}