{% extends "base.html" %}

{% block content %}
  <iframe src="{{url_for('overview')}}" width="100%" height="400px"></iframe>
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <fieldset>
      <div>
        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.gender.errors)}}</div>
        {{form.gender.label}}<br>
        {{form.gender}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.age.errors)}}</div>
        {{form.age.label}}<br>
        {{form.age}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.ethnicity.errors)}}</div>
        {{form.ethnicity.label}}<br>
        {{form.ethnicity}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.income.errors)}}</div>
        {{form.income.label}}<br>
        {{form.income}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.proposer.errors)}}</div>
        {{form.proposer.label}}<br>
        {{form.proposer}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.responder.errors)}}</div>
        {{form.responder.label}}<br>
        {{form.responder}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.proposer_responder.errors)}}</div>
        {{form.proposer_responder.label}}<br>
        {{form.proposer_responder}}<br>

        <a href="{{url_for(treatment+'.'+'index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click here to continue...</button></a><br>
        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_resp_prop.errors)}}</div>
        {{form.code_resp_prop.label}}<br>
        {{form.code_resp_prop}}<br>

        {% if is_responder %}
          <a href="{{url_for('tasks.eff.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click start the effort task...</button></a><br>
          <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_effort.errors)}}</div>
          {{form.code_effort.label}}<br>
          {{form.code_effort}}<br>

          <a href="{{url_for('tasks.risk.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click here to start the risk task...</button></a><br>
          <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_risk.errors)}}</div>
          {{form.code_risk.label}}<br>
          {{form.code_risk}}<br>

          <a href="{{url_for('tasks.cg.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click here to start the charity giving task...</button></a><br>
          <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_charitable_giving.errors)}}</div>
          {{form.code_charitable_giving.label}}<br>
          {{form.code_charitable_giving}}<br>

          <a href="{{url_for('tasks.crt.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click here to start the crt task...</button></a><br>
          <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_crt.errors)}}</div>
          {{form.code_crt.label}}<br>
          {{form.code_crt}}<br>
        {% endif %}

        <a href="{{url_for('tasks.hexaco.index')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click here to start the hexaco task...</button></a><br>
        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.code_hexaco.errors)}}</div>
        {{form.code_hexaco.label}}<br>
        {{form.code_hexaco}}<br>

        <div style="background-color:red;" class="alert alert-error">{{ ", ".join(form.attention.errors)}}</div>
        {{form.attention.label}}<br>
        {{form.attention}}<br>

        {{form.comment.label}}<br>
        {{form.comment}}<br>

        <a href="{{url_for(treatment+'.webhook')}}?job_id={{job_id}}&worker_id={{worker_id}}" target="_blank"><button type="button">Click here to continue...</button></a><br>
      </div>
    </fieldset>
    <input type="submit" value="Submit">
  </form>
{% endblock %}