
h2 { color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 10; 
    line-height: 32px; 
    margin:auto; 
    text-align: center; 
}

 .button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
 }

.timer{ /* background: #fe921f; */
    background:#808080;
    color: #ffffff; 
    display: inline-block; 
    font-family: 'Lato', sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    line-height: 12px; 
    letter-spacing: 2px;
    text-align: center; 
    text-transform: uppercase; 
    padding: 10px 15px 8px; 
    margin: auto;
 }

.questions{ color: #000000;
	font-size: 20px; 
 	font-family: "Libre Baskerville", serif; 
 	line-height: 25px; 
	text-align: left; 
	text-shadow: 0 1px 1px #fff; 
}