{% extends "base.html" %}

{% block head%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<title>Proposer - ADM</title>
{% endblock %}
{% block content %}

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
       
        function drawChart() {
         //console.log("Function Called!");
            responder = parseInt(document.getElementById('user2ai').value);
            proposer = 200-responder;
            
            var data = google.visualization.arrayToDataTable([
                ['Actor', 'Share'],
                ['Proposer', proposer],
                ['Responder', responder]
            ]);
            var options = {
                title: '',    
                'backgroundColor': 'transparent',
                'is3D': 'true',
                legend: {position: 'bottom', textStyle: {fontSize: 18}},
                pieSliceText: 'value'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);

            // Reset ai response
            delete window.acceptance_probability;
            delete window.best_offer_probability;
            drawAIResponse();
        }
    </script>

    <script>
        google.charts.load('current', {'packages':['gauge']});
        google.charts.setOnLoadCallback(drawAIResponse);
        update_ai_response = function() {
            let request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        document.body.className = 'ok';
                        console.log(this.responseText);
                    } else if (this.response == null && this.status === 0) {
                        document.body.className = 'error offline';
                        console.log("The computer appears to be offline.");
                    } else {
                        document.body.className = 'error';
                    }
                }
            };

            var user2ai = document.getElementById('user2ai');
            if (user2ai.value == "") {
                user2ai.checkValidity();
                return;
            }
            user_value = user2ai.value;
            console.log("User:value: " + user_value);
            console.log("typeof_user_value: " + typeof(user_value))
            url = "{{url_for('t10.prop.check')}}?offer=" + user_value;
            request.open("GET", url, true);
            request.send(null);
            request.onload = function() {
                var element = document.getElementById('ai_response');
                var resp = JSON.parse(request.responseText);
                window.acceptance_probability = resp["acceptance_probability"];
                window.best_offer_probability = resp["best_offer_probability"];
                user2ai.value = "";
                drawAIResponse();
            }
            //drawAIResponse();

        }

      function drawAIResponse() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Accepted', 100 * window.acceptance_probability],
        ]);

        var options = {
          width: 200, height: 160,
          redFrom: 0, redTo: 45,
          yellowFrom:45, yellowTo: 70,
          greenFrom:70, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('ai_response_accepted'));

        chart.draw(data, options);


        var data2 = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Best offer', 100 * window.best_offer_probability],
        ]);

        var chart2 = new google.visualization.Gauge(document.getElementById('ai_response_best'));

        chart2.draw(data2, options);
      }
    </script>


    <h1>You have been assigned the task of a PROPOSER. Please make an offer to the RESPONDER</h1>
    <!-- <form method="GET" action=""> -->
        <div class="offer">
            <label> Offer
                <select name="offer" id="user2ai" onchange="drawChart()" required>
                    <option value="" selected disabled hidden>Select a value</option>
                    {% for value, label in offer_values.items() %}
                        <option value={{value}}>{{label}}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="button" id="submit2ai" onclick="update_ai_response()" >Submit to ADM</button> <br>

            <div align="center"> 
                    <div class="chart" id="piechart" style="opacity: 1;" ></div>
                    <div id="ai_response">
                        <table style="width: max-content">
                            <tr style="width: max-content">
                                <td style="width: 50%" align="center" style="display: inline-block">
                                    <div id="ai_response_accepted"></div>
                                </td>
                                <td style="width: 50%" align="center" style="display: inline-block">
                                    <div id="ai_response_best"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Chances of your offer beeing accepted</td><td>Chances of your offer bringing your the highest gain</td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    <!-- </form> -->

    <form action="" method="post">
        <div class="offer">
            {{ form.hidden_tag() }}
            <label> Final Offer
                <select name="offer" required>
                    <option value="" selected disabled hidden>Select a value</option>
                    {% for value, label in offer_values.items() %}
                        <option value={{value}}>{{label}}</option>
                    {% endfor %}
                </select>
            </label>
            <p> {{form.submit()}}</p>
        </div>
    </form>
{% endblock %}
