{% extends "base.html" %}

{% block head%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<title>Proposer - ADM</title>
{% endblock %}
{% block content %}

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
       
        function drawChart() {
         //console.log("Function Called!");
            proposer = parseInt(document.getElementById('min_offer').value);
            responder = 200-responder;
            
            var data = google.visualization.arrayToDataTable([
                ['Actor', 'Share'],
                ['Proposer', proposer],
                ['Responder', responder]
            ]);
            var options = {
                title: '',    
                'backgroundColor': 'transparent',
                'is3D': 'true',
                legend: {position: 'bottom', textStyle: {fontSize: 18}},
                pieSliceText: 'value'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);

            // Reset ai response
            delete window.acceptance_probability;
            delete window.best_offer_probability;
            drawAIResponse();
        }
    </script>


    <h1>You have been assigned the task of a RESPONDER. What is the minimum share of 2 USD you are willing to accept from the PROPOSER?</h1>
    <!-- <form method="GET" action=""> -->
    <!-- </form> -->

    <form action="" method="post">
        <div class="min_offer">
            {{ form.hidden_tag() }}
            <label> Final Offer
                <select name="min_offer" required onchange="drawChart()" id="min_offer">
                    <option value="" selected disabled hidden>Select a value</option>
                    {% for value, label in offer_values.items() %}
                        <option value={{value}}>{{label}}</option>
                    {% endfor %}
                </select>
            </label>
            <p> {{form.submit()}}</p>
        </div>
    </form>


    <div class="min_offer">
        <div align="center"> 
                <div class="chart" id="piechart" style="opacity: 1;" ></div>
        </div>
    </div>
{% endblock %}
